---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import PostsList from "@/src/components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/src/consts";
import { loadBlogCollection, loadNotesCollection } from "@/src/content.config";

export async function getStaticPaths() {
    const posts = await loadBlogCollection();
    const notes = await loadNotesCollection();

    const allTags = new Set(
        [...posts, ...notes]
            .map((e) => e.data.tags)
            .flat()
            .filter((e) => e),
    );

    return Array.from(allTags).map((e) => ({
        params: { slug: e },
        props: {
            tag: e,
            posts: posts.filter((p) => p.data.tags.includes(e)),
            notes: notes.filter((p) => p.data.tags.includes(e)),
        },
    }));
}

const { tag, posts, notes } = Astro.props;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} type="website">
    <h1>Tag <code>{tag}</code></h1>

    <h2>Posts</h2>
    <PostsList posts={posts} />
    { posts.length == 0 && <p>No notes with this tag.</p> }

    <h2>Notes</h2>
    <PostsList posts={notes} />
    { notes.length == 0 && <p>No notes with this tag.</p> }
</BaseLayout>
